[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "*"
pygame = "*"
pillow = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.12"
